body {
  padding: 50px;
  font: 18px "Lucida Grande", Helvetica, Arial, sans-serif;
}
a {
  color: #00b7ff;
}
thead {
  font: 16px "Lucida Grande", Helvetica, Arial, sans-serif;
}
table,
td,
th {
  border: 1px solid #000;
}
th,
td {
  padding: 15px;
}
tr {
  font: 15px "Lucida Grande", Helvetica, Arial, sans-serif;
}
label {
  display: inline-block;
  width: 180px;
}
input[type=text] {
  width: 170px;
}
.invalide {
  border: 3px solid #f00;
}
#nom_confirme,
#prenom_confirme,
#sexe_confirme,
#specialite_confirme {
  font: 12px "Lucida Grande", Helvetica, Arial, sans-serif;
}
#nom_invalide,
#prenom_invalide,
#sexe_invalide,
#specialite_invalide {
  color: #f00;
  font: 12px "Lucida Grande", Helvetica, Arial, sans-serif;
}
#buttons {
  text-align: center;
  margin-top: 25px;
}
